@model IEnumerable<MVC_CrudOperations.Models.Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Dashboard.cshtml";
}

<div class=" container">
    <div class="row">
        <div class="col-8 offser-2">
            <div class="float-right">
                <a class="btn btn-sm btn-warnin m-1 p-1 border-2" asp-action="AddCategory" asp-controller="Category">Add Category</a>
            </div>
            <table class=" table table-bordered table-hover text-center">
                <thead>
                    <tr>
                        <th>Category Id</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tbody>
                        @foreach(var d in Model)
                        {
                            <tr>
                                <td>@d.CategoryId</td>
                                <td>@d.CategoryName</td>
                                <td>
                                    <a class="btn btn-sm btn-primary" asp-action="Edit" asp-controller="Category" asp-route-id="@d.CategoryId">Edit</a>
                                    <a class="btn btn-sm btn-info" asp-action="Details" asp-controller="Category" asp-route-id="@d.CategoryId">Details</a>
                                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-controller="Category" asp-route-id="@d.CategoryId">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                
            </table>
        </div>
    </div>
</div>
